<h1>Listing incidents</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Date</th>
    <th>Primary Victim</th>
    <th></th>
  </tr>
<% @incidents.each do |incident| %>
  <tr>
    <td><%= incident.name %></td>
    <td><%= incident.firstseen %></td>
    <td><%= incident.primaryvictimname %></td>
    <td><%= link_to 'Show', incident %></td>
  </tr>
<% end %>
</table>

<br/>