<h1>About OSID</h1>
<br>
<h2>What is OSID?</h2><br>
<p>The Open Security Incident Database (OSID) aims to serve as a systematic (as systematic as it can be…) and central collection of IT security incidents. At the time we concentrate on publicly known and documented incidents.</p>
<p>In OSID an incident will be registered, uniquely identified, classified and referenced with a timeline and appropriate links. At the time OSID provides just a pure collection service and does not analyze or comment on a per incident basis.</p>
<h2>What is our goal?</h2><br>
<p>We believe that the IT community suffers from missing transparency and therefore from a lot of fallacies that prevent the IT depending world to improve and become more mature and safe. Most companies try to hide their security incidents in hope no body becomes aware of their problems in protecting the IT assets. This in turn prevents the general public from realizing the true state of IT security. As a result IT security does not experience the appropriate attention from the decision maker so that our IT world continues to be an unreliable and insecure foundation of our modern society.</p>
<p>We hope, if our society becomes aware of the full extent of our security issues, then this will improve the required awareness. Therefore a central database may be one step into the required direction.
</p>
<h2>How systematic can the collection of security incidents be?</h2><br>
<p>From the academic and absolute point of view, the incident collection at OSID is not systematic at all. As long as companies are not forced to disclose their security breaches, a systematic collection of security incidents is simply not possible. As a result our database is systematic in relation to the publicly disclosed incidents. It is said, that companies identify only about 20% of all the security incidents. From this 20%, only 20% are communicated to outsiders. If this assumption is true then our database may be systematic documentation of these remaining 4%. That is not that good, right? Well, this is exactly why we need more transparency!
</p>
<h2>What is the current state of OSID?</h2><br>
<p>OSID (as an idea and a web platform) is in a very early beta status. We just started collecting security incidents and we welcome any comments and support!
</p>
<h2>Who is behind OSID?</h2><br>
<p>We are a very small group of security enthusiasts who believe that the general public needs support in understanding the highly technical IT world. Most of the time, remediation of security issues results in allocating budget and manpower. As a result commercial interests may bias a neutral an objective standpoint. We are aware of this and therefore we are completely independent of any commercial influence. Although some of us may or actually do earn their money in the security industry, we act completely independent of our employers and from any donor.
</p>
<h2>How can I contribute to OSID?</h2><br>
<p>Just start submitting incidents that are not yet in the database and help us keeping the timelines up to date. You can do this anonymously or via a registered pseudonym. Submitted content will be reviewed before publishing.</p>
<p>If you have questions or if you like to discuss issues relevant to OSID you can join our discussion in our discussion group.</p>
<h2>License?</h2><br>
<p>Good question. We did not yet think about this…</p>
