<h1>Contribute to OSID</h1>
<h3>Add incident</h3>
<p>
<%= link_to "submit a new incident", new_incident_path  %>
</p>

<h3>Add update</h3>
<p>
<%= link_to "submit an update to an existing incident", new_addition_path  %>
</p>
<h3>Add source</h3>
<p>
<%= link_to "submit a new source to an existing update", new_source_path  %>
</p>