<h1>Privacy Statement</h1>
<p>The privacy and anonymity of our contributors and users are a major concern to us. As we are in early beta stage we may run the server in a mode that allows us to retrieve appropriate log information so we can easily debug and troubleshoot. Therefore personal identifiable data may be logged and stored.</p>
<p>If you want to remain anonymous, then we suggest you to use an anonymization tool like Tor. Sooner or later we want to provide more details on what information we store or log and how you can make sure you remain completely anonymous while using this web site.</p>


